global:
    base-dir: /my/backydir
    worker-limit: 3
    backup-completed-callback: /path/to/script.sh
api:
    addrs: "127.0.0.1, ::1"
    port: 1234
    tokens:
        "test-token": "test-server"
        "cli-token": "cli"
    cli-default:
        token: "cli-token"
peers:
    "test-server":
        url: "https://example.com:1234"
        token: "token2"
schedules:
    default:
        daily:
            interval: 1d
            keep: 7
        weekly:
            interval: 1w
            keep: 4
        monthly:
            interval: 30d
            keep: 3
    frequent:
        hourly:
            interval: 1h
            keep: 24
        daily:
            interval: 1d
            keep: 7
        weekly:
            interval: 1w
            keep: 12
jobs:
    test01:
        schedule: default
        source:
            type: file
            filename: /path/to/vm/image
    test02:
        schedule: default
        source:
            type: ceph-rbd
            pool: rbd
            image: test02
    test03:
        schedule: hourly
        source:
            type: flyingcircus
            consul_acl_token: a211c244-846b-11e5-999b-081196cf15b4
            vm: test03
            pool: test
            image: test03.root
